.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  margin-right: 5px;
}
.selected {
  font-weight: bold;
}

label:hover {
  text-decoration: underline;
}
